<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <style>
        section{
            display: flex;
            height: 50px;
        }
        section,div{
            border: 2px solid black;
            padding: 20px;
            margin-bottom: 20px;
            /* height: 320px; */
        }
        section div{
            flex: 2;
            margin-right: 5px;
            
        }
    </style>
</head>
<body>
    <section>
        <div>Column 1</div>
        <div class="c2">Column 2</div>
        <div>Column 3</div>
        <div>Column 4</div>
        <div>Column 5</div>
        <!-- <div>Column 1</div>
        <div>Column 2</div>
        <div>Column 3</div>
        <div>Column 4</div>
        <div>Column 5</div> -->
    </section>
</body>
</html>