<!DOCTYPE html>
<html lang="en">
<head>
   <title></title>
   <link rel="stylesheet" href="./flexbox4.css">
</head>
<body>
    <section>
        <div class="main">
            <img src="https://logoipsum.com/logoipsum.png" width="170px" height="60px" alt="">
        </div>
        <div class="main">
            <div class="dropdown-container">
                <button class="dropdown-button">Mobiles</button>
                <div class="dropdown-content">
                    <a href="">Samsung</a>
                    <a href="">Oppo</a>
                    <a href="">Redmi</a>
                    <a href="">Realme</a>
                    <a href="">Poco</a>
                    <a href="">Vivo</a>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="dropdown-container">
                <button class="dropdown-button">Mobiles</button>
                <div class="dropdown-content">
                    <a href="">Samsung</a>
                    <a href="">Oppo</a>
                    <a href="">Redmi</a>
                    <a href="">Realme</a>
                    <a href="">Poco</a>
                    <a href="">Vivo</a>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="dropdown-container">
                <button class="dropdown-button">Mobiles</button>
                <div class="dropdown-content">
                    <a href="">Samsung</a>
                    <a href="">Oppo</a>
                    <a href="">Redmi</a>
                    <a href="">Realme</a>
                    <a href="">Poco</a>
                    <a href="">Vivo</a>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="dropdown-container">
                <button class="dropdown-button">Mobiles</button>
                <div class="dropdown-content">
                    <a href="">Samsung</a>
                    <a href="">Oppo</a>
                    <a href="">Redmi</a>
                    <a href="">Realme</a>
                    <a href="">Poco</a>
                    <a href="">Vivo</a>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="dropdown-container">
                <button class="dropdown-button">Mobiles</button>
                <div class="dropdown-content">
                    <a href="">Samsung</a>
                    <a href="">Oppo</a>
                    <a href="">Redmi</a>
                    <a href="">Realme</a>
                    <a href="">Poco</a>
                    <a href="">Vivo</a>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="dropdown-container">
                <button class="dropdown-button">Mobiles</button>
                <div class="dropdown-content">
                    <a href="">Samsung</a>
                    <a href="">Oppo</a>
                    <a href="">Redmi</a>
                    <a href="">Realme</a>
                    <a href="">Poco</a>
                    <a href="">Vivo</a>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="dropdown-container">
                <button class="dropdown-button">Mobiles</button>
                <div class="dropdown-content">
                    <a href="">Samsung</a>
                    <a href="">Oppo</a>
                    <a href="">Redmi</a>
                    <a href="">Realme</a>
                    <a href="">Poco</a>
                    <a href="">Vivo</a>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="dropdown-container">
                <button class="dropdown-button">Mobiles</button>
                <div class="dropdown-content">
                    <a href="">Samsung</a>
                    <a href="">Oppo</a>
                    <a href="">Redmi</a>
                    <a href="">Realme</a>
                    <a href="">Poco</a>
                    <a href="">Vivo</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>