<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <style>
        *{
            color: purple;
        }
        section, div{
            /* border: 2px solid black; */
            padding: 15px;
            margin-bottom: 10px;
            display: grid;
            /* here we need one row 3 col, not 3 rows one col */
            grid-template-rows: 400px;
            grid-template-columns: 33.5% 33.5% 33.5%;
            margin-right: 5px;
            background-color: whitesmoke;
        }
        .img-one img{
            width: 525px;
        }
        li img{
            width: 15px;
        }
    </style>
</head>
<body>
    <section>
        <div class="img-one">
            <img src="https://m.media-amazon.com/images/I/51DZMjttkgL._SX679_.jpg" alt="">
        </div>

        <div style="display: block;">
            <h3>ASUS Vivobook S 14</h3>
            
            <!-- here type=none is used to remove type given for ul tag list -->
            <ul type="none">
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">S3402ZA-KM502WS</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">14 Inches</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">16 GB RAM</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">512 GB SSD</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">4.5 GHz clock speed</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">Intel Integrated Iris Xe Graphics</li>
            </ul>
        </div>

        <div style="display: block;">
            <h3>&#8377 66900</h3>
            <h3><del>&#8377 83990</del></h3>
        </div>
    </section>
    <hr>

    <section>
        <div class="img-one">
            <img src="https://m.media-amazon.com/images/I/51DZMjttkgL._SX679_.jpg" alt="">
        </div>

        <div style="display: block;">
            <h3>ASUS Vivobook S 14</h3>
            
            <!-- here type=none is used to remove type given for ul tag list -->
            <ul type="none">
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">S3402ZA-KM502WS</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">14 Inches</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">16 GB RAM</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">512 GB SSD</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">4.5 GHz clock speed</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">Intel Integrated Iris Xe Graphics</li>
            </ul>
        </div>

        <div style="display: block;">
            <h3>&#8377 66900</h3>
            <h3><del>&#8377 83990</del></h3>
        </div>
    </section>
    <hr>

    <section>
        <div class="img-one">
            <img src="https://m.media-amazon.com/images/I/51DZMjttkgL._SX679_.jpg" alt="">
        </div>

        <div style="display: block;">
            <h3>ASUS Vivobook S 14</h3>
            
            <!-- here type=none is used to remove type given for ul tag list -->
            <ul type="none">
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">S3402ZA-KM502WS</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">14 Inches</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">16 GB RAM</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">512 GB SSD</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">4.5 GHz clock speed</li>
                <li><img src="https://static.thenounproject.com/png/4084271-200.png" alt="">Intel Integrated Iris Xe Graphics</li>
            </ul>
        </div>

        <div style="display: block;">
            <h3>&#8377 66900</h3>
            <h3><del>&#8377 83990</del></h3>
        </div>
    </section>
    <hr>
</body>
</html>