<!DOCTYPE html>
<html lang="en">
<head>
    <title</title>
    <style>
        section, div{
            border: 2px solid black;
            padding: 15px;
            margin-bottom: 15px;
            display: grid;
            grid-template-rows: 250px 250px;
            grid-template-columns: 250px 250px 250px 250px 250px;
            margin-right: 10px;
        }
        section div{
            background-color: cornflowerblue;
        }
    </style>
</head>
<body>
    <section>
        <div>one</div>
        <div>two</div>
        <div>three</div>
        <div>four</div>
        <div>five</div>
        <div>six</div>
        <div>seven</div>
        <div>eight</div>
        <div>nine</div>
        <div>ten</div>
    </section>
</body>
</html>